{% extends 'base.html.twig' %}

{% block title %}Hello CreateHeroController!{% endblock %}

{% block body %}
<h1>Bienvenue,</h1>
    <p>En panne d’inspiration pour vos personnages ?
Découvrez la magie des cartes de tarot ! Chaque carte raconte une histoire et offre des traits de caractère uniques. Utilisez-les pour créer des personnages fascinants et originaux. Laissez les symboles du tarot guider votre imagination et révéler des héros inattendus.
Prenez vos cartes, tirez-en une et laissez la créativité s’épanouir !</p>
{% endblock %}
