{% extends 'base.html.twig' %}

{% block title %}Tes Héros{% endblock %}

{% block body %}
    <h1>Vos Héros</h1>

    <ul>
        {% for hero in heroes %}
            <li>
                <a href="{{ path('app_hero_detail', {id: hero.id}) }}">
                    {{ hero.name }}
                </a>
            </li>
        {% else %}
            <li>Aucun héros disponible</li>
        {% endfor %}
    </ul>
{% endblock %}